@tailwind base;
@tailwind components;
@tailwind utilities;

/*::selection {
  background-color: theme(colors.neutral.950);
  color: theme(colors.neutral.50);
}*/

#__next {
  min-height: 100%;
}


/* Remove the back-ticks from code format */
.ProseMirror code::before,
.ProseMirror code::after {
  display: none;
}
.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: theme('colors.neutral.300');
  pointer-events: none;
  height: 0;
}
.ProseMirror :where(code):not(:where(pre *)) {
  @apply bg-neutral-100 text-neutral-800 border-neutral-200 font-normal break-words border rounded py-[0.2rem] px-[0.3rem] dark:bg-neutral-800 dark:text-neutral-400 dark:border-neutral-700;
}
.ProseMirror :where(ul > li)::marker {
  @apply text-neutral-800;
}
.ProseMirror ul > li {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.ProseMirror ul > li p {
  margin: 0 !important;
}
.ProseMirror ul ul, ul ol, ol ul, ol ol {
  margin: 0 !important;
}
.ProseMirror pre {
  white-space: pre;
}
.ProseMirror ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}
.ProseMirror ul[data-type="taskList"] p {
  margin: 0;
}
.ProseMirror ul[data-type="taskList"] li {
  display: flex;
  align-items: flex-start;
  padding-left: 0;
}
.ProseMirror ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  user-select: none;
  margin-right: 0.5rem;
  margin-top: 0;
}
.ProseMirror ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
  margin: 0;
}
